.swiper {
  padding: 1rem !important;
  flex: 1;
}

.swiper-button-next,
.swiper-button-prev {
  flex-shrink: 0 !important;
  position:relative !important;
  background-color: #fff;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: #3f3f40 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  &::after {
    font-size: 1.6rem !important;
    font-weight: 700;
  }
}

.swiper-navigation-icon{
 width: 16px !important;
  height: 16px !important;
}